@media screen and (min-width:320px) and (max-width: 768px) {
 .logo-image {
    display: inline-block;
    padding-left: 100px;
    margin: 0 auto;
    width: 100%;
     
     
}   
    
    .logo-image {
        float:right;
    }
    .logo-image img {
    max-width: 40%;
    padding-top: 20px;
    height: auto;
}

.background::before {
    
        display: none;
    }
    #boxshadow {
        display: none;
    }

.main-nav {
    position: absolute;
    top: -300px;
    left: 100px;
}
    .logo-content {
        padding-top: 30px;
        height: 100%;
        background-color: #a9aaab;
    }
.logo-text h2 {
    padding-left: 78px;
    font-size: 25px;
    color: #58595b;
}


    .slick-dots li button:before {
        line-height: 55px;
    }
    

    .slick__arrow {
        display: none;
    }

    .slick-dots {
        position: absolute;
        display: block;
        border: 1px solid #959595;
        width: 200px;
        height: 50px;
        left: 57px;
        padding: 0;
        border-radius: 66px;
        background-color: #dcdedf;
        margin: 0;
        list-style: none;
    }

   .main-nav ul li a {
    font-size: 8px;
}

 .main-nav ul li {
    display: inline-block;
    padding: 8px;
}
    .main-nav ul li ul li a
    {
        display: none;
    }
.main-nav ul li ul
{
    display: none;
    padding: 2px;
    overflow: hidden;
    transition: heights 1s;
    opacity:0;
    background-color: #FFf;
    position: absolute;
}
    .slick__arrow {
        bottom: auto;
        height: 2px;
        left: 70px;
        margin-top: -1px;
        pointer-events: none;
        position: absolute;
        top: 98%;
        width: 61%;
        z-index: 2;
    }

    .read-more-btn {
        margin-top: 10px;
        text-align: center;
width: 116px;
        margin: 1px 34px;
        margin-bottom: 20px;
        height: 32px;
        background-color: #eb822e;
        border: 1px solid #eb822e;
        border-radius: 50px;
    }
    .our-service {
    background: linear-gradient(to right, #f5f6f6 100%, #fff 40%);
}

    .about-us-text {
        font-size: 10px;
    }

    .slick-dots {
        bottom: 14px;
    }

    .navbar-light .navbar-toggler {
        background-color: #eb822e;
    }

    .background img {
        clip-path: none;
    }

    #search {
        display: inline-block;
        width: 358px;
        height: 39px;
        border-radius: 10px;
        margin: 0 auto;
        color: #6b6b68;
        position: absolute;
        bottom: 38px;
        left: 57px;
    }
    .Telecommunication-content
    {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0 0%);
        height: 100%;
    }

  .circle {
    position: absolute;
    text-align: right;
    margin: 0 auto;
    left: 32px;
}
    .side-image {
    text-align: right;
    margin: 0 auto;
    margin-bottom: 20px;
}

    .about-us {
        height: 500px;
    }
    .title {
    position: absolute;
    top: 262px;
    left: 97px;
}

.about-us-section {
    background: linear-gradient(80deg, #FFF 16%, #ebebeb 14%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.search
    {
        display: none;
    }
    .about-us-section {
    background: linear-gradient(80deg, #FFF 16%, #ebebeb 14%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
   .side-image {
    text-align: center;
    margin: 0 auto;
       margin-bottom: 20px;
}




    #block-mainnavigation ul
    {
        display: grid;
    padding: 0;
    }
    .main-nav ul li {
    display: inline-block;
    padding: 10px;
}
    .footer_circle {
    margin: 0 auto;
    margin-top: 27px;
    position: relative;
    width: 80px;
    right: 0px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #b2b2b2;
    background-color: #fff;
}
    .handshake-text {
    position: relative;
    right: 0px;
}
    .footer_links ul {
    list-style: none;
    padding: 0;
    padding-left: 19px;
    height: 100%;
}
.side-image {
    margin: 0 auto;
    margin-bottom: 20px;
}


}



