body {
    margin: 0;
    padding: 0;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.Telecommunication-Top-header {
    background-color: #f9f9f9;
    width: 100%;

}


.Telecommunication-content
{
    clip-path: polygon(100% 5%, 89% 100%, 0% 100%, 0 6%);
    height: 100%;
}
.row
{
    width: 100%;
}
.col-md-7
{
    padding: 0;
}

.logo-content {
    padding-top: 30px;
    height: auto;
}

.logo-image {
    display: inline-block;
    padding-left: 30px;
    float: left;
}

.logo-image img {
    max-width: 70%;
    height: auto;
}
.logo-text {
    padding-top: 25px;
    position: relative;
    right: 50px;
}
.logo-text h2 {
    font-size: 28px;
    color: #58595b;
}
.background img {
  
    clip-path: polygon(100% -550%, 0% 100%, 100% 100%);
    height: 500px;
   display: block;
  width: 100%;
  
}
.logo-text span {
    color: #eb812a;
}
.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: -6px;
    clip-path: polygon(16% 0%, 100% 0%, 100% 100%, 0% 100%, 0% 100%, 27% 100%, 12% 100%);
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 130px;
    background: rgba(76,121, 153, .5);
}
.main-nav {
    position: absolute;
    top: 60px;
    left: 50px;
    z-index: 1;
}

 
.background {
    position: relative;
    width: 100%;
    top: 36px;
}

.search {
    position: absolute;
    text-align: right;
    padding-top: 30px;
    left: 219px;
    top: -36px;
    z-index: 1;
}
.slick-dots {
    position: absolute;
    bottom: 5px;
    display: block;
    border: 1px solid #959595;
    width: 40%;
    left: 230px;
    padding: 0;
    border-radius: 50px;
    background-color: #dcdedf;
    margin: 0;
    height: 30px;
    list-style: none;
}

.slick-wrapper, .slick, .slick * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.fontawesome-icon
{
    padding: 25px;
}
.slick-dots li button:before
{
    line-height: 30px;
}
.slick__arrow {
    bottom: auto;
    height: 36px;
    left: 224px;
    margin-top: -1px;
    pointer-events: none;
    position: absolute;
    top: 95%;
    width: 40%;
    z-index: 2;
}

.about-us-text
{
    width: 85%;
}
.footer_circle svg
{
    font-size: 30px;
}
.slick-arrow::before {
    color:#aaaaaa;
  font-size: 36px;
  font-size: 2.25rem;
}
.slick-arrow:hover::before {
  color: #aaaaaa;
}

.slick-arrow::before {

  font-size: 36px;
  font-size: 1.25rem;
}
#boxshadow {
    border-bottom: 2px solid gray;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-top: 80px;
    line-height:4em;
    position: relative;

}
#boxshadow::after {
    content: ' ';
    width: 265px;
    height: 2px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: -2px 80px 9px #000;
}

.search {
    text-align: right;
    padding-top: 10px;
}
#search {
    position: absolute;
    display: inline-block;
    width: 380px;
    left: 27px;
    height: 40px;
    border-radius: 10px;
    margin: 0 auto;
    color: #6b6b68;
}
.read-more-btn {
    margin-top: 10px;
    text-align: center;
    width: 122px;
    margin-bottom: 20px;
    height: 32px;
    background-color: #eb822e;
    border: 1px solid #eb822e;
    border-radius: 50px;
}
.service-read-more-btn
{
     text-align: center;
    width: 125px;
    height: 32px;
    background-color: #eb822e;
    border: 1px solid #eb822e;
    border-radius: 50px; 
    margin: 0 auto;
}
.service-read-more-btn a
{
    color: #fff;
    text-decoration: none;
}
.read-more-btn a {
    color: #fff;
    text-decoration: none;
}

.btn {
    color: gray;
    border-right: none;
    font-family: sans-serif;
    border-top: none;
    border-bottom: none;
    border-radius: 1px;
}
.search-circle a {
    color: white;
    text-decoration: none;
    padding-left: 28px;
}
.search-circle {
    background-color: rgb(129, 197, 253);
    width: 85%;
    height: 40px;
    color: rgb(255, 255, 255);
    text-align: left;
    border-image: initial;
    top: 40px;
    position: relative;
    border-radius: 21px;
    left: 380px;
    padding: 5px;
    border: 1px solid #abcce8;
}
.slick-arrow {
    border: 0;
    /* border-radius: 50%; */
    font-size: 0;
    height: 0px;
    position: absolute;
    top: 50%;
 
    width: 42px;
}
.dropdown {
    bottom: 0px;
    left: 290px;
}
.fa-sort-down {
    color: orange;
    margin-left: 3px;
    bottom: 2px;
    font-size: 10px;
}

.search-btn {
    height: 35px;
    background-color: rgb(129, 197, 253);
    position: relative;
    padding: initial;
   
    width: 90px;
    color: rgb(255, 255, 255);
    border-radius: 50px;
        text-align: left;
    padding-left: 40px;
    padding: 5px;
}
.main-nav ul li {
    display: inline-block;
padding: 12px;
    transition: .3s;
    position: relative;

}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus
{
        color: #ebebeb;
    background: #adb5bdd1;
}
.slick__arrow {
    bottom: auto;
    height: 0px;
    left: 224px;
    margin-top: -1px;
    pointer-events: none;
    position: absolute;
    top: 95%;
    width: 40%;
    z-index: 2;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity:0.5;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '>';
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '<';
}
.slick-prev:before,
.slick-next:before
{
    font-family:none;
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

}


.main-nav ul li a:hover
{
    background-color:#eb812a;
}
.main-nav ul li a {
    color: #fff;
    font-size: 14px;
    transition: 0.4s;
    padding: 14px 5px;
    text-decoration: none;
}
.main-nav ul li ul
{
    display: none;
    padding: 2px;
    overflow: hidden;
    transition: heights 1s;
    background-color: #eb812a;
    position: absolute;
}
.main-nav ul li:hover ul
{
    display:block;
}

.main-nav ul li ul li a {
    padding: 8px 2px;
}
.main-nav ul li ul li a:hover
{
    background-color: #000;
}


.navbar-nav {
    margin: 0 auto;
}

.main-nav ul li a:hover {
    color: #fff;
    
}
.Engenering-service h2 {
    margin-top: 50px;
    width: 50%;
}

.circle {
    position: relative;
    margin-top: 20px;
    left: 320px;
     width: 270px;
    height: 250px;
    overflow: hidden;
border-width: 13px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial; 
    border-radius: 50%;
    
}
.about-us-section {
    background: linear-gradient(144deg, #FFF 17%, #ebebeb 14%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.fa-sort-down:before,
.fa-sort-desc:before {
    content: "\f0dd";
    margin: 5px;
}

.circle img {
          top: 16px;
    height: 278px;
    max-width: 100%;
}

.about-us {
    height: 400px;
}
.orange-border2 {
    border-top: 3px solid #eb822e;
    width: 80%;
    margin: 0 auto;
}
.orange-border
{
        border-top: 10px solid #eb822e;
    width: 14%;
}
.title {
    position: absolute;
    top: 60px;
    left: 615px;
}
.title h2
{
    color: #58595b;
        font-size: 50px;
}
.footer_links2 ul li 
{
    padding: 5px;
}
.footer_links ul li 
{
    padding: 5px;
}


.gray-background {
    background-color: #ebebeb;
    height: 100%;
}
.our-service
{
   background: linear-gradient(to right, #f5f6f6 50%, #fff 40%);
    
}
.our-service-about h2
{
    width: 38%;
    color: #58595b;
}
.our-service-text 
{
        width: 85%;
    margin-top: 20px;
}
.our-service-text p
{
    color: #77787b;
}

.wires-photo
{
    text-align: center;
}
.wires-photo img
{
          width: 37%;
    height: auto;  
}
    
.our-service-boxes {
    opacity: 0.9;
    padding: 19px;
}
.box {
    margin: 0 auto;
    width: 275px;
    margin-bottom: 28px;
    height: 450px;
    border: 4px solid gray;
    border-radius: 10px;
    background-color: #ebebeb;
}
.box-icon
{
    text-align: center;
    margin:  0 auto;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: 5px solid #e1e1e1;
    border-radius: 50%;
    margin-top: 20px;
}
.box-content p
{
    color: #86878a;
}
.box-icon i
{
    padding:30px;
    font-size: 60px;
    color: #5c5d5f;
}
.box-title {
    text-align: center;
    padding-top: 5px;
}
.box-title h2 {
    width: 78%;
    margin: 0 auto;
    font-size: 30px;
    margin-bottom: 5px;
}
.box-content {
    height: 130px;
    margin-bottom: 13px;
    padding: 10px;
}
.box-content p
{
    font-size: 12px;
}
.our-project-title
{
        width: 25%;
}
.our-project-title h2 {
    color: #58595b;
    width: 29%;
    margin: 0 auto;
    border-bottom: 5px solid #eb812a;
}
.project-images img
{
    width: 100%;
    height: auto;
}
.side-image
{
    margin: 15px;
}
.side-image img {
    width: 180px;
    height: 250px;
}
.aside-images 
{
    margin:  0 auto;
}
.footer
{
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

     background: linear-gradient(132deg, #eb812a 70%, #a2a2a2 30%);
    height: 100%;
    padding-top: 20px;
}
.social-media
{
    
    padding-left: 35px;
    color: #fff;
}
.social-media ul li
{
    display: inline-block;
}
.social-media ul li {
    border-radius: 50px;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    background-color: #fff;
    padding: 2px;
    text-align: center;
}
.social-media ul li a  {

font-size:15px;
 color: #58595b;

}
#block-stayconnected-menu
{
    font-size: 13px;
    display: inline-block;
}
.social-media ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    margin-left: 10px;
}
.fontawesome-icons {
    padding: 15px 5px 8px 10px;
}
.fontawesome-icon svg {

    font-size: 60px;
}
.social-media
{
        display:flex;
        padding-top: 70px;

}

.social-media p
{
    padding-top: 4px;
}
.footer_links 
{
    margin-top: 20px;
    width: 40%;
        border-left: 1px solid #000;
    padding: 5px;

}

.footer_links ul
{
    list-style: none;
    padding: 0;
    height: 100%;
}
.footer_links ul li a
{
    color: #fff;
    text-decoration: none;
}
.footer_links2
{ 
    margin-top: 20px;
    width: 50%;
        border-left: 1px solid #000;
            border-right: 1px solid #000;
    padding: 5px;

}

.footer_links2 ul
{
    list-style: none;
    padding: 0;
    height: 100%;
}
.footer_links2 ul li a
{
    color: #fff;
    text-decoration: none;
}
.footer_circle {
    margin: 0 auto;
    margin-top: 27px;
    position: relative;
    width: 80px;
    right: 100px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #b2b2b2;
    background-color: #fff;
}
.handshake-text
{
    position: relative;
    right: 90px;
}
.footer_circle i
{
    padding: 15px;
    font-size: 45px;
}
.handshake-text p
{
    color: #fff;
    text-align: center;
}
.copyrights p
{
        text-align:  center;
    font-size: 15px;
    padding-top: 50px;
}
.side-image
{
    text-align: center;
}
.footer_circle .fontawesome-icon svg
{
    font-size: 48px;
}
.footer_circle .fontawesome-icon
{
    padding: 0;
}
/*page header*/

.top-header2
{
   background-color: #cfcfcf; 
    height: 100%;
}
.logo-image2 img {
    margin-right: 8px;
    width: 23%;
    padding-left: 22px;
    float: left;
}
.logo-image2 h2
{
    padding: 15px;
}
iframe 
{
    width: 100%;
}
.logo-image2
{
    padding: 20px;
}
.logo-image2 h2
{
    color:#888989;
    font-size: 26px;
}
.logo-image2 b
{
    color: #eb812a;
}


.search2 {
    text-align: right;
    position: absolute;
    left: 138px;
    top: 55px;
}
.search-circle2 a {
    color: white;

    text-decoration: none;
    padding-right: 10px;

}
.search-circle2 {
    height: 33px;
    background-color: rgb(129, 197, 253);
    left: 414px;
    width: 95%;
    color: rgb(255, 255, 255);
    bottom: 46px;
    border-image: initial;
    border-radius: 4px;
    padding: 5px;
    border: 1px solid #abcce8;
    position: relative;
}
#search2{
    position: absolute;
    width: 358px;
    height: 32px;
    border-radius: 3px;
    margin: 0 auto;
    color: #6b6b68;
    position: absolute;
    bottom: 46px;
    left: 58px;
}
.main-nav2 {
    padding: 55px 10px 12px 162px;
}
.main-nav2 ul  {
    list-style: none;
    padding: 0;
}
.main-nav2 ul li
{
    display: inline-block;
    transition: 0.5s;
    padding: 5px;
    position: relative;
}
.main-nav2 ul li a {
    display: block;
    font-size: 10px;
    line-height: 30px;
    padding: 1px 2px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}
.main-nav2 ul:hover li a
{
    transform: scale(1.1);
}
.main-nav2 ul li a:hover
{
    transform: scale(1);
}
.main-nav2 ul li a:before
{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #eb812a;
    transition:transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}
.main-nav2 ul li ul
{
    display: none;
    overflow: hidden;
    background-color: #eb812a;
    position: absolute;
}
.main-nav2  ul li a:hover:before
{
     transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}
.main-nav2  ul li ul li:hover:before
{
    transition:0;
    transform-origin: none;
    transform: none;
}

.main-nav2 ul li:hover ul
{
    display:block;
}
#block-telecommunication-page-title {
    margin: 35px 130px 17px 42px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    color: #fff;
    padding: 5px;
}
.js-quickedit-page-title
{
    padding: 6px;
}
 #block-telecommunication-page-title  h1
{
    font-size: 27px;

}

article p
{
    margin: 1px 133px 0px 46px;
    background-color:#ebebeb;
        padding: 17px;
        font-size: 13px;
    margin-bottom: 30px;
}
#block-telecommunication-page-title .views-element-container 
{
        margin: 2px 130px 0px 44px;
    background-color:#EBEBEB; 
}

.views-element-container .box-page {
    margin: 0px 0px 0px 32px;
    width: 265px;
    margin-bottom: 28px;
    height: 477px;
    border: 4px solid gray;
    border-radius: 10px;
}
.main-photos
{
    padding-left: 50px;
        background-color: #ebebeb;

}
.main-photos img {
    width: 20%;
    height: auto;
    border: 1px solid #fff;
    background-color: #fff;
    margin-bottom: 20px;
}  


.special img
{
    width: 50%;
    height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
    margin: 10px;
  text-align: center;
}
.video-embed-field-provider-youtube
{
        margin-bottom: 20px;
}
.videos
{
    
    padding-left: 50px;
}
.video
{
    margin-bottom: 30px;
}
.videos span
{
    display: none;
}
.video-section
{
    padding-left: 25px;
}
.videos img
{
    width: 160px;
    height: 120px;
}
.webform-submission-form
{
    padding-left: 50px;
}
.js-form-item 
{
    padding: 10px;
    
}
.form-text
{
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-email
{
       display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
.form-tel
{
     display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
.form-textarea
{
         display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

label
{
  display: inline-block;
    margin-bottom: .5rem;  
}
#edit-actions{
       padding-left: 350px
}
.map span
{
    display: none;
}
.service svg
{
    display: none;
}
.project-image
{
    padding-left: 50px;
}
.project-image img {
    width: 65%;
    margin-bottom: 30px;
    height:500px;
}
.our-project img {
    width: 100%;
        max-height: 545px;

}
.project img
{
    display: none;
}
.project .fontawesome-icon svg
{
    display: none;
}
.project-title {
    width: 100%;
    height: 51px;
    text-align: center;
    background-color: rgb(235, 235, 235);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-image: initial;
}
.side-projects
{
    margin-bottom: 20px;
}

.project-img {
    width: 100%;
    height: 213px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(235, 235, 235);
    border-image: initial;
}
.project-img img {
    border-top: 5px solid orange;
    width: 100%;
    height: 212px;
}
#block-views-block-side-projects-block-1 h2
{
        border: 1px solid #000;
    background-color: #000;
    color: #fff;
    padding: 5px;
    height: 60px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.gellry-photos img
{
    width: 100%;
    height: 200px;
    margin: 10px;
}
.project-title p
{
    font-size: 30px;
    color: gray;
}

