<footer>

    <div class="footer">
<div class="row">
       <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="social-media">
        {{page.social_media}}
    </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
           <div class="row">
            <div class="footer_links">
            {{page.footer_links}}
            
                </div>
                     <div class="footer_links2">
                {{page.footer_links2}}
                </div>
            </div>
              
             
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
       {{page.footer_circle}}
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="copyrights">
{{page.copyrights}}
                        </div>
        </div>
        </div>
        </div>
</footer>