    <header>
       <div class="top-header2">
           <div class="row">
               <div class="col-md-6 col-sm-12 col-xs-12">
                  <div class="logo-content2">
                   <div class="logo-image2">
                       <img src="{{ base_path }}themes/telecommunication/assets/images/logo.png" class="img-responsive">
                                              <h2>GULF ARROW FOR <b>TELECOMMUNICATION</b></h2>

                   </div>
                  
                   </div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="search2">
                                <div class="search-section">
                                <div class="search-circle2">
                                    <a href="#" class="search-btn2">Search</a>
                                    
                                </div>
                                 <input type="search" class="form-control" id="search2">
                               
                              
                            </div>
                              </div>
                              <div class="main-nav2">
                                <nav class="navbar navbar-expand-lg navbar-light">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav">

                                {{page.telecommunication_navbar}}



                                        </ul>
                                    </div>
                                </nav>
                            </div>
               </div>
           </div>
       </div>
    </header>