{% include directory ~ '/header.html.twig' %}
  {% if page.aside_services  %}
<div class="row">
   <div class="col-md-8 col-sm-12 col-xs-12">
    {{page.content}}
</div>
<div class="col-md-4 col-sm-4  col-xs-12">
    {{page.aside_services}}

</div>
    </div>
{% elseif  page.asie_projects %}
<div class="row">
   <div class="col-md-8 col-sm-12 col-xs-12">
    {{page.content}}
</div>
<div class="col-md-4 col-sm-4  col-xs-12">
    {{page.asie_projects}}

</div>
    </div>
{% elseif  page.map %}
    {{page.content}}
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13533.78417194304!2d35.85986653327045!3d32.0030292493999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151ca102cbe2787f%3A0xbdd6f87e40fa5da2!2sFikra%20for%20business%20development!5e0!3m2!1sen!2sjo!4v1574752907291!5m2!1sen!2sjo"  height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
 {% elseif  page.photo_gellery %}
      {{page.photo_gellery}}
  {% else %}
    {{page.content}}
{% endif %}
{% include directory ~ '/footer.html.twig' %}


