  <header>
        <div class="Telecommunication-Top-header">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                   <div class="Telecommunication-content">
                    <div class="logo-content">
                        <div class="logo-image">
                            <img src="themes/telecommunication/assets/images/logo.png" class="img-responsive">
                        </div>
                        <div class="logo-text">
                            <h2>GULF ARROWS FOR<br><span>TELECOMMUNICATION</span></h2>
                        </div>
                    </div>
                    <div id="boxshadow">
                    </div>
                    <div class="container">
                      {{page.telcommunication_info}}
                        <div class="read-more-btn">
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
</div>
                <div class="col-md-7 cols-m-6 col-xs-12">
  <div class="background">
      <div class="overlay">

                       {{page.slick_slider}}
                       
                                                          <div class="search">
                                <div class="search-section">
                                <div class="search-circle">
                                    <a href="#" class="search-btn">Search</a>
                                    
                                </div>
                                 <input type="search" class="form-control" id="search" placeholder="Search" >
                               
                                <div class="dropdown">
                                    <button class="btn">Catagories<i class="fas fa-sort-down"></i></button>
                                   
                                </div>
                            </div>
                              </div>
                               
                            
                            </div>
                            

                            <div class="main-nav">
                                <nav class="navbar navbar-expand-lg navbar-light">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav">

                                        {{page.telecommunication_navbar}}


                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>
</div>
                    </div>
                </div>
    </header>
    <section>
        <div class="about-us-section">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  
{{page.about_us_section}}
                </div>
            </div>
            <div class="our-service">
                <div class="container">
                    <div class="our-service-content">
                      <div class="row">
                       <div class="col-md-5 col-sm-12 col-xs-12">
                 {{page.our_service}}
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                       {{page.our_service_box}}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
    <div class="our-projects">
       
        <div class="our-project-title">
            <h2>OUR PROJECTS</h2>
        </div>
        <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
           {{page.our_project}}
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                 <div class="aside-images">
                        
              <div class="row">
                 {{page.aside_images}}
                </div>
                    

                </div>
            </div>
        </div>
    </div>
</section>
<footer>

    <div class="footer">
<div class="row">
       <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="social-media">
        {{page.social_media}}
    </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
           <div class="row">
            <div class="footer_links">
            {{page.footer_links}}
            
                </div>
                     <div class="footer_links2">
                {{page.footer_links2}}
                </div>
            </div>
              
             
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
       {{page.footer_circle}}
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="copyrights">
{{page.copyrights}}
                        </div>
        </div>
        </div>
        </div>
</footer>